    <div class="sidebar">
      <div class="sidebar-wrapper ">
        <ul class="nav">
          <li class=" ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Главная</p>
            </a>
          </li>
          <li>
            <a href="/ui-sysinfo.html">
              <i class="tim-icons icon-atom"></i>
              <p>Информация о системе</p>
            </a>
          </li>
          <li>
            <a href="/ui-tables.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Сеть</p>
            </a>
          </li>

        </ul>      
      </div>
    </div>


    
    