{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

{% block content %}

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header text-center">
                <h2 class="">Основные особенности приложения</h2>
          </div>
          
          <div class="card-body all-icons">
            <div class="row">
              <div class="font-icon-list col-lg-4 col-md-5 col-xs-6">
                
                <div class="main-page-blocks">
                  
                  <h3><p>Экономный минимализм</p></h3>
                  <h4> Каждая страница приложения поддерживает актуальные <br> разрешения экрана!</h4>
                  
                </div>
              </div>
              <div class="font-icon-list col-lg-4 col-md-5 col-xs-6">
                
                <div class="main-page-blocks">
                  
                  <h3><p>Свет и тьма</p></h3>
                  <h4>Задайте цвет панели или оформления страницы с помощью виджета <br> который везде с вами!</h4>

                </div>
              </div>

              <div class="font-icon-list col-lg-4 col-md-5 col-xs-6">
                <div class="main-page-blocks">
                  <h3><p>Системная информация</p></h3>
                  <h4>Получите информацию о характеристиках вашего компьютера
                     прямо в окне браузера!</h4>

                </div>
              </div>
              <div class="font-icon-list col-lg-4 col-md-5 col-xs-6">
                <div class="main-page-blocks">
                  <h3><p>Только близкие</p></h3>
                  <h4>Получите список IP и Mac адресов устройств вашей локальной сети!</h4>

                </div>
              </div>
              <div class="font-icon-list col-lg-4 col-md-5 col-xs-6">
                <div class="main-page-blocks">
                  <h3><p>Открытые порты</p></h3>
                  <h4>Приложение способно просканировать тысячу портов!
                    Нужно больше?<br> Проверьте интересующий порт вручную!
                  </h4>

                </div>
              </div>
              <div class="font-icon-list col-lg-4 col-md-5 col-xs-6">
                <div class="main-page-blocks">
                  <h3><p>Доступность</p></h3>
                  <h4>Узнайте время доступности устройств из вашей локальной сети!</h4>

                </div>
              </div>
           
              


              </div>

              
            </div>
          </div>
            

        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
