{% extends 'layouts/base.html' %}
{% block title %} UI Tables {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h3 class="card-title"> Устройства текущей подсети</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter text-center" id="">
                        <thead class=" text-primary">
                        <tr>
                            <th>IP Адрес</th>
                            <th>Mac Адрес</th>
                            <th>Тип адреса</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ip in ips %}
                        <tr>
                            <td><a href="{% url 'ip_detail' slug=ip.slug%}">{{ip.ip}}</a></td>
                            <td>{{ip.mac}}</td>
                            {% if ip.type == '0' %}
                            <td>Динамический</td>
                            {%else%}
                            <td>Статический</td>
                            {%endif%}
                        </tr>
                        {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascripts %}{% endblock javascripts %}
