<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--&lt;!&ndash; Static assets &ndash;&gt;-->
<!--{% load static %}-->

<!--<head>-->
<!--  <meta charset="utf-8" />-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">-->
<!--  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">-->
<!--  <title>-->
<!--    Django Dashboard Black - {% block title %}{% endblock %} | AppSeed-->
<!--  </title>-->
<!--  &lt;!&ndash;     Fonts and icons     &ndash;&gt;-->
<!--  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />-->
<!--  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">-->
<!--  &lt;!&ndash; Nucleo Icons &ndash;&gt;-->
<!--  <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet" />-->
<!--  &lt;!&ndash; CSS Files &ndash;&gt;-->
<!--  <link href="{% static 'assets/css/black-dashboard.css' %}" rel="stylesheet" />-->
<!--  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css" rel="stylesheet" />-->
<!--  &lt;!&ndash; CSS Just for demo purpose, don't include it in your project &ndash;&gt;-->
<!--  <link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />-->

<!--  &lt;!&ndash; Specific Page CSS goes HERE  &ndash;&gt;-->
<!--  {% block stylesheets %}{% endblock stylesheets %}-->

<!--</head>-->

<!--<body class="rtl menu-on-right ">-->
<!--  <div class="wrapper">-->

<!--    {% include 'includes/sidebar-rtl.html' %}-->

<!--    <div class="main-panel">-->

<!--      {% include 'includes/navigation-rtl.html' %}-->

<!--      <div class="content">-->

<!--        {% block content %}{% endblock content %}-->

<!--      </div>-->

<!--      {% include 'includes/footer.html' %}-->

<!--    </div>-->
<!--    -->
<!--  </div>-->

<!--  {% include 'includes/fixed-plugin.html' %}-->

<!--  {% include 'includes/scripts.html' %}-->

<!--  {% include 'includes/scripts-sidebar.html' %}-->

<!--  &lt;!&ndash; Specific Page JS goes HERE  &ndash;&gt;-->
<!--  {% block javascripts %}{% endblock javascripts %}-->

<!--</body>-->

<!--</html>-->